@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}
* {
	font-family: 'Poppins', sans-serif;
}
nav {
	box-shadow: 2px 2px 10px lightgrey;
}
.flex {
	display: flex;
}
.user {
	flex-grow: 1;
}
.search {
	position: relative;
	right: 33px;
	top: 1px;
	font-size: 0.9rem;
	color: white;
	background-color: #EC0159;
	padding: 5px;
	border-radius: 50%;

}
.pink {
	color: #EC0159;
}
.pil {
	padding: 7px 15px;
	border-radius: 30px;
	box-shadow: 2px 2px 10px lightgrey;
}
.placeholder {
	border: none;
	outline: 0 none;
	padding: 7px 15px;
	border-radius: 30px;
	box-shadow: 2px 2px 10px lightgrey;
}
.featured-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}
main {
  padding: 20px 50px;
  overflow: auto;
}
#content {
  float: left;
  width: 60%;
}
aside {
  float: right;
  width: 30%;
  margin-right: 42px;
}
@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
td {
	padding: 3px;
}
.card {
  border-radius: 8px;
  box-shadow: 3px 3px 20px  lightgrey;
  padding: 20px;
  margin: 0 0 20px 0;
  border: 1px solid lightgrey;
}
.date td {
	padding: 7px;
	font-size: 0.8rem;
}
.btn {
	outline: none;
	border: none;
	padding: 8px;
	background-color: #EC0159;
	color: white;
	border-radius: 7px;
	width: 100%;
}
.img-0 {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.pr-5 {
	padding-right: 50px;
}
.img-mobile {
	padding: 0;
	margin: 0;
}
.nav-mobile nav {
	padding: 10px;
	box-shadow: none !important;
}
.host-img {
	margin-top: 23px;
}
@media screen and (min-width: 1000px) {
	.nav-mobile {
		display: none;
	}
	.feature-mobile {
		display: none;
	}
	.button-mobile {
		display: none;
	}
	.judul-mobile {
		display: none;
	}
	.img-mobile {
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	main {
		padding: 10px;
	}
	.img-1,.img-2,.img-3,.img-4 {
		display: none;
	}
	.img-0 {
		max-width: 100%;
		padding: 0;
		margin: 0;
		border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	}
	.nav-mobile {
		font-size: 0.9rem;
	}
	.table-feature {
		font-size: 0.8rem;
	}
	.judul-mobile {
		font-size: 0.8rem;
	}
	.sg {
		position: relative;
		bottom: 25px;
	}
	.sw {
		font-size: 0.9rem;
	}
	.host {
		font-size: 0.9rem;
	}
	.host2 {
		font-size: 0.7rem;
	}
	.host-img {
		margin-top: 12px;
	}
	aside {
		display: none;
	}
	.nav-dekstop {
		display: none;
	}
	.feature {
		display: none;
	}
	.button-dekstop {
		display: none;
	}
	.judul-dekstop {
		display: none;
	}
	.img-dekstop {
		display: none;
	}
}