@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

body {
  font-family: Quicksand, sans-serif;
  user-select: none !important;
}


/*Header*/
header {
  display: inline;
}

nav {
  background-color: lightseagreen;
  padding: 5px;
  text-align: center;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav li:nth-child(1) {
  display: none;
}

@media screen and (max-width: 1000px) {
  nav li:nth-child(1) {
    display: unset;
  }
}

@media screen and (max-width: 375px) {
  nav li a {
    font-size: 0.9rem !important;
  }
  nav li:nth-child(4) {
    padding-right: 15px;
  }
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  transition: 1s;
  border-bottom: 1px solid lightseagreen;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: lightseagreen;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .jumbotron h1 {
    font-size: 1.5rem;
  }
  .jumbotron p {
    font-size: 1rem;
  }
}
/*End Header*/


/*Main*/
.jumbotron i:hover {
  transition: 2s;
  transform: translateY(90px);
}

#content {
  float: right;
  width: 67%;
}

main {
  padding: 20px;
  overflow: auto;
}

article h2 {
  color: lightseagreen;
  text-align: center;
}

article p {
  text-indent: 1.2rem;
}

.it {
  color: lightseagreen;
}

.card {
  border-radius: 8px;
  box-shadow: 3px 3px 20px  lightgrey;
  padding: 20px;
  margin: 0 0 20px 0;
}

.featured-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}
/*End Main*/


/*aside*/
aside {
  float: left;
  width: 33%;
  padding-right: 20px;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

.profile img {
  width: 200px;
  border-radius: 10px;
}

.profile header {
  text-align: center;
}

#profile .card {
  box-shadow: 3px 3px 20px lightgrey;
}

aside table {
  text-align: left;
  margin-left:auto;
  margin-right:auto
}
/*end aside*/


/*Footer*/
footer {
  background-color: lightseagreen;
  padding: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
/*Footer*/